@model CouponEditVM
@section MainHeader {
    Edit Coupon
}
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> Edit </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-controller="Coupons" asp-action="Edit">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Code"></label>
                    <input asp-for="Code" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DiscountPercentage"></label>
                    <input asp-for="DiscountPercentage" />
                </div>
                <div class="form-group">
                    <label asp-for="ExpirationDate"></label>
                    <input asp-for="ExpirationDate" />
                </div>

                <input type="hidden" asp-for="Id" class="form-control" placeholder="Enter Name Services">


            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
<!-- /.card -->
